<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./app.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inpartec</title>
</head>

<body>
    <div class="container">
        <div class="banner">
            <h1 class="titulo">Inpartec</h1>
            <img src="image01.png" alt="foto da Cris" class="img-banner">
        </div>
        <div class="row1">
            <p class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid quam laudantium perferendis nisi
                reiciendis rem dolore inventore animi adipisci, itaque minima placeat repellat, sed, tenetur culpa!
                Dicta, sit ipsam.
            </p>
            <div class="botao" >
            <a  href="#" target="_blank">Botão</a>
        </div>
        </div>
        <div class="row2">
            <div class="gradient-box"></div>
            <div class="gradient-box"></div>
            <div class="gradient-box"></div>
        </div>
        <p class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid quam laudantium perferendis nisi
                reiciendis rem dolore inventore animi adipisci, itaque minima placeat repellat, sed, tenetur culpa!
                Dicta, sit ipsam.
        </p>
        <footer>
            <div class="logo">
            <img src="inpartec-logo.svg" alt="logo Inpartec">
        </div>
            <div class="text-footer">
            <h2 class="subtt">Lorem </h2>
            <p class="content-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid quam laudantium perferendis nisi
                reiciendis rem dolore inventore animi adipisci, itaque minima placeat repellat, sed, tenetur culpa!
                Dicta, sit ipsam.
            </p>
            <p class="content-white"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquid quam
                laudantium perferendis nisi reiciendis rem dolore inventore animi adipisci, itaque minima placeat
                repellat, sed, tenetur culpa! Dicta, sit ipsam.</p>
            </div>
        </footer>

    </div>
</body>

</html>
