* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(70, 142, 236);
    font: normal 15pt Arial;
}

header {
    color: #fff;
    text-align: center;
}

section {
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    margin: auto;
    padding: 15px;
    width: 500px;
    height: 290px;
    text-align: left;
    line-height: 40px;
}

footer {
    color: #fff;
    text-align: center;
    font-style: italic;
}


img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}